
@{
    ViewData["Title"] = "QuizIT | Danh sách đề";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}

<h1 class="cotent-title">Danh sách đề</h1>
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="#">content</a>
    </li>
    <li class="breadcrumb-item active"><a href="#">content</a></li>
</ol>
<div class="content-card">
    <div class="filter-group">
        <div class="container p-0">
            <div class="row">
                <div class="col-md-3 col-12 mb-2">
                    <input type="text" class="form-input" placeholder="Từ khoá"/>
                </div>
                <div class="col-md-3 col-12 mb-2">
                    <select class="form-input">
                        <option value="value">Thể loại: Tất cả</option>
                        <option value="value">Thể loại: C#</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>


