@using QuizIT.Service.Entities
@using QuizIT.Service.Models
@using QuizIT.Common.Models
@model List<Question>

@{
    ViewData["Title"] = "QuizIT Admin | Danh sách bộ đề";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    var paginationModel = ViewBag.PaginationModel as PaginationModel;
    var filter = ViewBag.Filter as FilterQuestion;
    var categoryLst = ViewBag.CategoryLst as List<Category>;
}

@section scripts{
    <script src="~/js/admin/exam.js"></script>
}
<h1 class="cotent-title">Danh sách bộ đề</h1>
<div class="d-flex justify-content-end mt-4">
    <a class="btn-base m-btn-primary text-white " href="~/admin/bo-de/tao">
        <i class="bx bx-plus"></i>
        Thêm bộ đề
    </a>
</div>

