@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
:root {
  --black-1: #12192c;
  --white-1: #ededed;
  --orange-1: #f5a623;

  /* font-size */
  --fs-12: 12px;
  --fs-14: 14px;
  --fs-16: 16px;
  --fs-20: 20px;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.fs-12 {
  font-size: 12px;
}
.fs-14 {
  font-size: 14px;
}
.fs-16 {
  font-size: 16px;
}
.fs-20 {
  font-size: 20px;
}
a,
a:hover {
  text-decoration: none;
}
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 180px;
  height: 100vh;
  background-color: var(--black-1);
  padding: 1.25rem 0.5rem 2rem;
  transition: 0.5s;
}
.sidebar-logo {
  margin-bottom: 2rem;
  padding: 0 0.5px;
}
.sidebar-logo img {
  margin-right: 0.75rem;
  width: 24px;
  height: 25px;
}
.sidebar-logo span {
  color: var(--white-1);
  font-weight: 700;
}
.sidebar-link {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  color: var(--white-1);
  transition: 0.5s;
  white-space: nowrap;
}
.sidebar-item:hover {
  background-color: var(--orange-1);
  color: var(--black-1);
}
.sidebar-link i {
  font-size: 1.5rem;
  margin-right: 0.75rem;
}
.body {
  min-height: 100vh;
  margin-left: 180px;
  background-color: #f6f8fc;
  transition: 0.5s;
}
.header {
  padding: 1.25rem 1rem;
  background-color: #fff;
  box-shadow: 0 0 20px rgb(89 102 122 / 10%);
}
.btn-base {
  outline: none;
  border: none;
}
#btn-sidebar {
  font-size: 1.5rem;
  background-color: transparent;
}
.sidebar.active {
  width: 56px;
}
.sidebar.active + .body {
  margin-left: 56px;
}
